<h1>Welcome to Zen Blog {{user}}</h1>
<div>
    
    {{#each posts}}
       <div class="post">
           <h2 class="blog-title">{{title}}</h2>
           <p>{{content}}</p>
           <p>Posted by {{user_name}}</p>
       </div> <br>

    {{/each}}
</div>