<h1>Log Me In!</h1>

<form action="/api/authorize" method="post">
<input type="text" name="username" placeholder="UserName"/>
<input type="password" name="password" placeholder="Password"/>
<button type="submit">Submit</button>

</form>

{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}">
         {{ sessionFlash.message }}
    </div>
{{/if}}