<h1>@{{user}}'s Published Posts</h1>
<a href="/new-post">Create New</a>

<div>
    
    {{#each posts}}
       <div>
           <h2>{{title}}</h2>
           <p>{{content}}</p>
           <p>Posted by {{user_name}}</p>
       </div> <br>

    {{/each}}
</div>