<h1>@{{user}}'s Published Posts</h1>
<a href="/new-post">Create New</a>

<div>
    
    {{#each posts}}
    
       <div class="post-box">
  <div class="post-header">
    <div>
     {{title}}
    </div>
    <div class="posted-by">
      Posted by {{user_name}}
    </div>
  </div>
  <div class="content">
    <p>{{content}}</p>
  </div>
</div> <br>

    {{/each}}
</div>