<form action="/api/register" method="post">
<input type="text" name="username" placeholder="UserName"/>
<input type="password" name="password" placeholder="Password"/>
<button type="submit">Submit</button>

</form>